[*cs]
# end_of_line
# Type and namespace declaration
resharper_csharp_type_declaration_braces=next_line
# Indent inside namespace declaration
resharper_csharp_indent_inside_namespace=true
# Method declaration
resharper_csharp_invocable_declaration_braces=next_line
# Property declaration
resharper_csharp_accessor_owner_declaration_braces=next_line
#Accessor declaration
resharper_csharp_accessor_declaration_braces=next_line
# Other
resharper_csharp_other_braces=next_line
# Before colon in 'case' statement
resharper_csharp_space_before_colon_in_case=false


csharp_new_line_before_catch=true
csharp_new_line_before_finally=true

resharper_csharp_new_line_before_while=true
csharp_space_after_cast=false


# 'var' usage in declarations

# For built-in types
resharper_csharp_for_built_in_types=use_explicit_type
# For simple types
resharper_csharp_for_simple_types=use_explicit_type
# Elsewhere
resharper_csharp_for_other_types=use_explicit_type

# Use 'var' keyword for discards
resharper_csharp_prefer_explicit_discard_declaration=false
# Use 'this.' qualifier for
resharper_csharp_instance_members_qualify_members=none

# Remove redundant braces
resharper_csharp_braces_redundant=true

# Code body

# Methods and operators
resharper_csharp_method_or_operator_body=block_body
# Local functions
resharper_csharp_local_function_body=block_body
# Constructors and Destructors
resharper_csharp_constructor_or_destructor_body=block_body

# Place 'System.*' and 'Windows.*' namespaces first when sorting 'using' directives
resharper_csharp_sort_usings_with_system_first=true

resharper_csharp_extra_spaces=remove_all




