<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TSG_Library.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TSG_Library.Properties.Settings>
            <setting name="add_fasteners_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="add_pierce_components_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="assembly_auto_detail_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="assembly_color_code_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="assembly_export_design_data_form_window_location"
                     serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="assembly_wave_link_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="bill_of_material_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="blank_data_builder_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="block_attributer_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="check_box_dialog_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="clone_assembly_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="clone_strip_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="component_builder_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="copy_attributes_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="create_burnout_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="cycle_components_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="edit_block_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="edit_size__form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="export_sim_package_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="export_strip_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="f_shape_exporter_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="grid_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="profile_trim_and_form_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="proposal_data_wizard_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ref_set_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="session_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="sim_ref_sets_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="simulation_data_builder_form_window_location"
                     serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="wire_start_hole_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="wire_taper_development_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PreferredSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="detail_number_note_form_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AssemblyColorCodeLastUsed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AssemblyColorCodeWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="component_builder_grid_increment" serializeAs="String">
                <value />
            </setting>
            <setting name="mirror_components_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditBlockFormGridIncrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="add_fasteners_preferred_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="add_fasteners_cycle_add" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="add_fasteners_reverse_cycle_add" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="add_fasteners_grid_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="add_fasteners_show_grid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="udoComponentBuilderWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="udoComponentBuilderGridIncrement" serializeAs="String">
                <value />
            </setting>
            <setting name="assembly_navigator_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="blank_data_builder_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="design_check_window_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TSG_Library.Properties.Settings>
    </userSettings>
</configuration>